function Main.main 1
push static 0
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call TextWriter.init 0
pop temp 0
call Constants.init 0
pop temp 0
push constant 0
not
pop static 0
label IF_FALSE0
push static 1
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop static 1
label IF_FALSE1
call BreakBricksGame.new 0
pop local 0
push local 0
call BreakBricksGame.run 1
pop temp 0
push local 0
call BreakBricksGame.dispose 1
pop temp 0
push constant 0
return
function Main.IncRstartCount 0
push static 1
push constant 1
add
pop static 1
push constant 0
return
function Main.GetRestartCount 0
push static 1
return
