function Main.main 1
call TextWriter.init 0
pop temp 0
call BreakBricksGame.new 0
pop local 0
push local 0
call BreakBricksGame.run 1
pop temp 0
push local 0
call BreakBricksGame.dispose 1
pop temp 0
push constant 0
return
